body {
    background-color: #000;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.coord-div {
    display: block;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: solid 4px;
}